@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}
h2{
    font-size: 50px;
    color: white;
    margin-top: 65px;
   
}


.copa-watch{
    margin-left: 140px;
}

.back-ground{
    background-color: rgba(10, 10, 112, 0.993);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.kicking-player img{
    width: 50%;
    margin-bottom: 65px;
    margin-top: 65px;
    

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, pink);
    background-color: white;
    font-weight: 700px;
    padding: 10px 40px;
   margin-bottom: 10px;
}

.player img{
    width: 250px;
    margin-bottom: 5px;
}

.player{
    width: 250px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 2%;
    box-shadow: 10px 10px 40px gray;
}

.players{
  
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 940px;
    height: 600px;
    margin-left: 300px;
   
  
} 

/* .down-layer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}


.messi img{
    width: 20%;
} */



