@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}
h2{
    font-size: 50px;
    color: white;
   
}

.copa-watch{
    margin-left: 140px;
}

.back-ground{
    background-color: rgba(10, 10, 112, 0.993);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.kicking-player img{
    width: 50%;
    /* margin-left: 800px; */

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, pink);
    background-color: white;
    font-weight: 700px;
    padding: 10px 40px;
   margin-bottom: 10px;
}