@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}
h2{
    font-size: 50px;
    color: white;
    margin-top: 65px;
   
}
h1{
    font-size: 50px;
    color: black;
    margin-top: 65px;
   

}


.copa-watch{
    margin-left: 140px;
}

.back-ground{
    background-color: rgba(10, 10, 112, 0.993);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.kicking-player img{
    width: 50%;
    margin-bottom: 65px;
    margin-top: 65px;
    

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, pink);
    background-color: white;
    font-weight: 700px;
    padding: 10px 40px;
   margin-bottom: 10px;
}
p{
    color: gray;
}

.player img{
    width: 250px;
    margin-bottom: 5px;
}

.player{
    width: 250px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 2%;
    box-shadow: 10px 10px 40px gray;
}

.players{
  
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 940px;
    margin-left: 300px;
   
  
} 

 .down{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 290px;
}

.down-layer{

    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 20px;

}


.messi img{
    width: 60%;
    margin-bottom: 65px;
    margin-top: 65px;
    margin-right: 70px;
}

.footer img{
    width: 20%;
    margin-top: 50px;
    margin-left: 755px;
}

.icons{
    margin-left: 840px;
    padding: 10px;
 
}
.copy{
    margin-left: 800px;
}

/* Media Queries */

 /* mobile devices */

 @media only screen and (max-width:688px) {
     .back-ground{
         width: 100%
     }
     .players, .down, .footer{
         grid-template-columns: repeat(1,1fr);

     }

     .player, .down-layer{
         flex-direction: column;
     }
     
 }
 /* tablet devices */

 @media only screen and (min-width:688px) and (max-width:992px) {
     .back-ground{
         width: 100%
     }

     .player, .footer{
         grid-template-columns: repeat(2, 1fr);

     }

     .down{
         grid-template-columns: repeat(1,1fr);
     }
 }



